body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

li > * {
  vertical-align: middle;
}

li > img {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 8px;
}

.my-profile {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.my-profile > img {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 16px;
}

fieldset {
  border: 0;
}

.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-list {
  border-right: 1px solid #ccc;
}

button {
  font-size: 16px;
  padding: 7px 16px;
  border: 0;
  color: white;
  background-color: #008ba3;
  font-weight: 500;
  transition: all 0.1s;
}

button:hover {
  cursor: pointer;
  background-color: #00bcd4;
}

input {
  font-size: 16px;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #008ba3;
  transition: all 0.1s;
}

fieldset > input {
  margin: 0 8px 8px 0;
}

input:focus {
  border-color: #00bcd4;
}
